  <footer>
    <p class="text-center" title="Clique no nome em azul">
      Feito por <a href="https://github.com/GabrielRCodes" target="_blank" title="Github GabrielRCodes">Gabriel Rodrigues</a>
    </p>
  </footer>